//colors
$primary-color: rgba(250, 86, 82, 1);
$seconday-color: rgba(3, 87, 85, 1);
$teritary-color: rgba(75, 79, 81, 1);


$btn-primary-bg-color: rgba(251, 76, 71, 1);

$btn-secondary-text: rgba(255, 56, 61, 1);
$btn-secondary-border: rgba(251, 76, 71, 1);


$btn-teritary-bg-color: rgba(250, 86, 82, 0.15);

