* {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    height: auto;
}
html {
    font-size: 16px;
}
body {
    font-family: Gelion-Medium;
    


}
header {
    background: linear-gradient(-360deg, #FFFFFF00 0%, #FFF8F8 100%, #B57474 100%);
}

