* {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    height: auto;
}
html {
    font-size: 16px;
}
body {
    font-family: Gelion-Medium;
    
}
header {
    padding-bottom: 5rem;
    background: linear-gradient(0deg, #ffffff00 0%, #fff8f8 100%, #b57474 100%);
}



